*.test
*.jar
src/*
temp
__pycache__/
log/*
bin/*
node_modules
# exception to the rule
!log/.gitkeep
!bin/.gitkeep
*.class
*~
run/core/healthcheck/healthcheck
.idea/
.phive/
.phplint.cache/
build/versioning/tests
tools/
